$color-primary: #171a1a;
$color-secondary: #ae1a1a;
$mediumScreen: 768px;
$largeScreen: 1024px;
$extraLargeScreen: 1200px;

html,
body {
  padding: 0;
  margin: 0;
  margin-block: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  main {
    > section {
      padding-top: 100px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (prefers-color-scheme: dark) {
      color: white;
      background-color: $color-primary;
    }
    h2 {
      font-size: 2.7rem;
      margin-bottom: 20px;
      font-weight: 600;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: $color-secondary;
        margin-top: 10px;
      }
    }
    @media (orientation: portrait) {
      h2 {
        font-size: 7.5vw;
      }
    }
  }
}
body::-webkit-scrollbar {
  position: absolute;
  background: #242927;
  width: 10px;
  opacity: 1%;
  padding: 3px;
}
body::-webkit-scrollbar-track {
}
body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 9999px;
  border: 4px solid #555;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
