$color-primary: #242927;
$color-secondary: #ae1a1a;
$mediumScreen: 768px;
$largeScreen: 1024px;
$extraLargeScreen: 1200px;
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 4px solid $color-secondary;
  padding: 15px;

  ul {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;

    li {
      a {
        text-decoration: none;
        font-size: 1.4vw;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $color-secondary;
          transition: color 0.2s ease-in-out;
        }
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    color: white;
    background-color: $color-primary;
  }
  @media (max-width: $largeScreen) {
    justify-content: flex-end;
    ul {
      justify-content: flex-end;
      li {
        a {
          font-size: 1.8vw;
        }
      }
    }
  }

  @media (orientation: portrait) {
    ul {
      width: 100%;
      padding: 15px;
      li {
        a {
          font-size: 2.5vw;
        }
      }
    }
  }
}
